main .film-poster {
    width: 145px;
    height: 209px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.1);
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px 11px;
    cursor: pointer;
}

main .film-poster img {
    width: 129px;
    height: 193px;
}

main .film-poster:hover {
    filter: brightness(0.8);
}

main .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}