body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #293845;
}

.root {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 67px;
  background-color: #C3CFD9;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-weight: 400;
  color: #E8833A;
}

main {
  width: 90%;
  height: 100%;
  margin: 67px auto 0;
}

main h1 {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
}